<li [ngClass]="{'list-group-item': true, 
                'list-group-item-success': signeLoveIts==='positif',
                'list-group-item-danger': signeLoveIts==='negatif'}">

  <table>
    <tr>
      <td><h1>{{post.titre}}</h1>
      <td class="date"><span>Le {{post.date | date: 'dd/MM/yyyy'}} à {{post.date | date: 'HH:mm:ss'}}</span></td>
    </tr>
    <tr>
      <td>{{post.contenu}}</td>
      <td></td>
    </tr>
  </table>
  <br>
  <button class="btn btn-success" [disabled]="isAuth" (click) = "onLoveItsPlus()">Love it!</button>
  <button class="btn btn-danger" (click) = "onLoveItsMinus()" style="margin-left: 20px;">Don't love it!</button>
</li>